{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9BBEC8;">
          <h2 class="mb-0">Actualizar Departame</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionDepartamento/" method="post" id="frm_actualizar_departamento" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="id_departamento" value="{{ departamento.id_de }}">

            <div class="mb-3">
              <label for="nombre_departamento" class="form-label">
                <b>NOMBRE</b></label>
              <input type="text" name="nombre_departamento" id="nombre_departamento" value="{{ departamento.nombre_de }}" placeholder="Ingrese el nombre del departamento" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="descripcion_departamento" class="form-label"><b>DESCRIPCIÓN</b></label>
              <textarea name="descripcion_departamento" id="descripcion_departamento" placeholder="Ingrese la descripción del departamento" class="form-control" required>{{ departamento.descripcion_de }}</textarea>
            </div>

            <div class="mb-3">
              <label for="direccion_departamento" class="form-label"><b>DIRECCIÓN</b></label>
              <textarea name="direccion_departamento" id="direccion_departamento" placeholder="Ingrese la dirección del departamento" class="form-control" required>{{ departamento.direccion_de }}</textarea>
            </div>

            <div class="mb-3">
              <label for="logo_de" class="form-label"><b>LOGO</b></label>
              <input type="file" accept="image/*" class="form-control rounded-5 m-1" name="logo_de" id="logo_de" />
              {% if departamento.logo_de %}
                <a href="{{ departamento.logo_de.url }}" target="_blank">
                  <img src="{{ departamento.logo_de.url }}" alt="" width="100" height="50"></a>
              {% endif %}
            </div>
            <script>
              $(document).ready(function () {
                  $("#logo_de").fileinput({
                    //showUpload:false
                    //showRemove: false,
                    language:'es',
                  });
              });
            </script>

            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $("#frm_nuevo_departamento").validate({
        rules:{
            "nombre_departamento": {
                required:true
            },
            "descripcion_departamento": {
                required:true
            },
            "direccion_departamento": {
                required:true
            },
            "logo_departamento": {
                required:true
            }
        },
        messages:{
            "nombre_departamento": {
                required:"DEBE INGRESAR EL NOMBRE DEL DEPARTAMENTO"
            },
            "descripcion_departamento": {
                required:"DEBE INGRESAR LA DESCRIPCIÓN DEL DEPARTAMENTO"
            },
            "direccion_departamento": {
                required:"DEBE INGRESAR LA DIRECCIÓN DEL DEPARTAMENTO"
            },
            "logo_departamento": {
                required:"SELECCIONE EL LOGO DEL DEPARTAMENTO"
            }
        }
    });
</script>

<script type="text/javascript">
    $('#tbl_departamentos').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE DEPARTAMENTOS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
        ]
    });
</script>
{% endblock %}
