{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9BBEC8;">
          <h2 class="mb-0">Actualizar Asistencia</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionAsistencia/" method="post" id="frm_nueva_asistencia" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id_as"id="id_as" value="{{ asistencias.id_as}}">
            <b>empleado:</b>
            <select class="form-control" name="id_empleado" id="id_empleado"  required>
              <option value="">-- Seleccione el empleado --</option>
              {% for empleado in empleados %}
              <option value="{{ empleado.id_em }}"{% if asistencias.empleado and asistencias.empleado.id_em == empleado.id_em %} selected {% endif %}>{{empleado.nombre_em }}</option>
              {% endfor %}
            </select>


            <div class="mb-3">
              <label for="fecha_as" class="form-label"><b>FECHA</b></label>
              <input type="date" name="fecha_as" id="fecha_as" value="{{ asistencias.fecha_as|date:'Y-m-d' }}" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="hora_entrada_as" class="form-label"><b>HORA DE ENTRADA</b></label>
              <input type="time" name="hora_entrada_as" id="hora_entrada_as" value="{{ asistencias.hora_entrada_as|date:'H:i'  }}" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="hora_salida_as" class="form-label"><b>HORA DE SALIDA</b></label>
              <input type="time" name="hora_salida_as" id="hora_salida_as" value="{{ asistencias.hora_salida_as|date:'H:i' }}" class="form-control" required>
            </div>


            <div class="mb-3">
              <label for="hoja_as" class="form-label"><b>HOJA DE ASISTENCIA</b></label>
              <input type="file" name="hoja_as" id="hoja_as" class="form-control">
              {% if asistencias.hoja_as %}
              <a href="{{ asistencia.hoja_as.url }}" target="_blank" >
                  <img src="{% static '/img/pdf.png' %}" alt="PDF" style="height: 60px; width: 70px;">
              {% endif %}
            </div>
            <script>
              $(document).ready(function () {
                  $("#hoja_as").fileinput({
                    //showUpload:false
                    //showRemove: false,
                    language:'es',
                  });
              });
            </script>

            <div class="mb-3">
              <label for="estado_as" class="form-label"><b>ESTADO</b></label>
              <select class="form-control" name="estado_as" required>
                <option value="">--Seleccione un estado--</option>
                <option value="Presente" {% if asistencias.estado_as == 'Presente' %} selected {% endif %}>Presente</option>
                <option value="Ausente" {% if asistencias.estado_as == 'Ausente' %} selected {% endif %}>Ausente</option>
                <option value="Tardanza" {% if asistencias.estado_as == 'Tardanza' %} selected {% endif %}>Tardanza</option>
              </select>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/listadoAsistencias/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
