{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9BBEC8;">
          <h2 class="mb-0">Actualizar Empleado</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionEmpleado/" method="post" id="frm_nuevo_empleado" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id_em" value="{{ empleado.id_em }}">
            <b>PUESTO:</b>
          <select class="form-control" name="id_puesto" id="id_puesto"  required>
              <option value="">-- Seleccione el puesto --</option>
              {% for puesto in puestos %}
              <option value="{{ puesto.id_pu }}"{% if empleado.puesto and empleado.puesto.id_pu == puesto.id_pu%} selected {% endif %}>{{ puesto.nombre_pu }}</option>
              {% endfor %}
          </select>
            <div class="mb-3">
              <label for="cedula_em" class="form-label"><b>Cédula</b></label>
              <input type="text" name="cedula_em" id="cedula_em" value="{{ empleado.cedula_em }}" placeholder="Ingrese la cédula" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="apellido_em" class="form-label"><b>Apellido</b></label>
              <input type="text" name="apellido_em" id="apellido_em" value="{{ empleado.apellido_em }}" placeholder="Ingrese el apellido" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="nombre_em" class="form-label"><b>Nombre</b></label>
              <input type="text" name="nombre_em" id="nombre_em" value="{{ empleado.nombre_em }}" placeholder="Ingrese el nombre" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="fecha_contratacion_em" class="form-label"><b>Fecha de Contratación</b></label>
              <input type="date" name="fecha_contratacion_em" id="fecha_contratacion_em" value="{{ empleado.fecha_contratacion_em|date:'Y-m-d' }}" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="telefono_em" class="form-label"><b>Teléfono</b></label>
              <input type="text" name="telefono_em" id="telefono_em" value="{{ empleado.telefono_em }}" placeholder="Ingrese el teléfono" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="correo_electronico_em" class="form-label"><b>Correo Electrónico</b></label>
              <input type="email" name="correo_electronico_em" id="correo_electronico_em" value="{{ empleado.correo_electronico_em }}" placeholder="Ingrese el correo electrónico" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="genero_em" class="form-label"><b>Género</b></label>
              <input type="genero_em" name="genero_em" id="genero_em" value="{{ empleado.genero_em }}" placeholder="Ingrese el genero" class="form-control" required>

            </div>

            <div class="mb-3">
              <label for="foto_em" class="form-label"><b>Foto</b></label>
              <input type="file" accept="image/*" name="foto_em" id="foto_em" class="form-control-file">
              {% if empleado.foto_em %}
                <a href="{{ empleado.foto_em.url }}" target="_blank">
                  <img src="{{ empleado.foto_em.url }}" alt="" width="100" height="50"></a>
              {% endif %}
            </div>
            <script>
              $(document).ready(function () {
                  $("#foto_em").fileinput({
                    //showUpload:false
                    //showRemove: false,
                    language:'es',
                  });
              });
            </script>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/listadoEmpleados/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    label.error {
        color: red;
    }

    input.error {
        border-color: red;
    }
</style>
<script type="text/javascript">
        $("#frm_nuevo_empleado").validate({
            rules: {
                id_puesto: {
                    required: true
                },
                cedula_em: {
                    required: true,
                    digits: true
                },
                apellido_em: {
                    required: true
                },
                nombre_em: {
                    required: true
                },
                fecha_contratacion_em: {
                    required: true,
                    date: true
                },
                telefono_em: {
                    required: true,
                    digits: true
                },
                correo_electronico_em: {
                    required: true,
                    email: true
                },
                genero_em: {
                    required: true
                },
                foto_em: {
                    required:true
                    extension: "jpg|jpeg|png|gif"
                    // Ajusta las extensiones según los tipos de archivo permitidos
                }
            },
            messages: {
                id_puesto: {
                    required: "Por favor, seleccione el puesto."
                },
                cedula_em: {
                    required: "Por favor, ingrese la cédula.",
                    digits: "Ingrese solo dígitos."
                },
                apellido_em: {
                    required: "Por favor, ingrese el apellido."
                },
                nombre_em: {
                    required: "Por favor, ingrese el nombre."
                },
                fecha_contratacion_em: {
                    required: "Por favor, ingrese la fecha de contratación.",
                    date: "Ingrese una fecha válida."
                },
                telefono_em: {
                    required: "Por favor, ingrese el teléfono.",
                    digits: "Ingrese solo dígitos."
                },
                correo_electronico_em: {
                    required: "Por favor, ingrese el correo electrónico.",
                    email: "Ingrese un correo electrónico válido."
                },
                genero_em: {
                    required: "Por favor, ingrese el género."
                },
                foto_em: {
                    required: "Por favor, seleccione una foto.",
                    extension: "Formato de archivo no válido. Use archivos JPG, JPEG, PNG o GIF."
                    // Ajusta el mensaje según las extensiones permitidas
                }
            }
        });
</script>

{% endblock %}
