{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9BBEC8;">
          <h2 class="mb-0">Actualizar Vacaciones</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionVacaciones/" method="post" id="frm_nuevo_vacaciones">

            {% csrf_token %}
            <input type="hidden" name="id_va" value="{{ vacaciones.id_va}}">
            <b>EMPLEADO:</b>
            <select class="form-control" name="id_empleado" id="id_empleado"  required>
              <option value="">-- Seleccione el empleado --</option>
              {% for empleado in empleados %}
                  <option value="{{ empleado.id_em }}"{% if vacaciones.empleado and vacaciones.empleado.id_em == empleado.id_em %} selected {% endif %}>{{empleado.nombre_em }}</option>
              {% endfor %}
          </select>


            <div class="mb-3">
              <label for="fecha_inicio_va" class="form-label"><b>Fecha de Inicio</b></label>
              <input type="date" name="fecha_inicio_va" id="fecha_inicio_va" value="{{ vacaciones.fecha_inicio_va|date:'Y-m-d' }}" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="fecha_fin_va" class="form-label"><b>Fecha de Fin</b></label>
              <input type="date" name="fecha_fin_va" id="fecha_fin_va" value="{{ vacaciones.fecha_fin_va |date:'Y-m-d'}}" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="estado_solicitud_va" class="form-label"><b>Estado de Solicitud</b></label>
              <select class="form-control" name="estado_solicitud_va" required>
                <option value="">--Seleccione un estado--</option>
                <option value="Pendiente" {% if vacaciones.estado_solicitud_va == 'Pendiente' %} selected {% endif %}>Pendiente</option>
                <option value="Aprobada" {% if vacaciones.estado_solicitud_va == 'Aprobada' %} selected {% endif %}>Aprobada</option>
                <option value="Rechazada" {% if vacaciones.estado_solicitud_va == 'Rechazada' %} selected {% endif %}>Rechazada</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="motivo_rechazo_va" class="form-label"><b>Motivo de Rechazo</b></label>
              <textarea name="motivo_rechazo_va" id="motivo_rechazo_va" rows="3" class="form-control" placeholder="Ingrese el motivo de rechazo" required>{{ vacaciones.motivo_rechazo_va }}</textarea>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/listadoVacaciones/" class="btn btn-danger">Cancelar</a>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
