{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9BBEC8;">
          <h2 class="mb-0">Actualizar Pago</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionPago/" method="post" id="frm_nuevo_pago" enctype="multipart/form-data">

            {% csrf_token %}

            <input type="hidden" name="id_pa" value="{{ pago.id_pa}}">
            <b>EMPLEADO:</b>
            <select class="form-control" name="id_empleado" id="id_empleado"  required>
              <option value="">-- Seleccione el empleado --</option>
              {% for empleado in empleados %}
                  <option value="{{ empleado.id_em }}"{% if pago.empleado and pago.empleado.id_em == empleado.id_em %} selected {% endif %}>{{ empleado.nombre_em }}</option>
              {% endfor %}


          </select>

            <div class="mb-3">
              <label for="fecha_pago_pa" class="form-label"><b>Fecha Pago</b></label>
              <input type="date" name="fecha_pago_pa" id="fecha_pago_pa" value="{{ pago.fecha_pago_pa|date:'Y-m-d' }}" placeholder="Ingrese la fecha de pago" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="periodo_pago_pa" class="form-label"><b>Periodo Pago</b></label>
              <input type="text" name="periodo_pago_pa" id="periodo_pago_pa" value="{{ pago.periodo_pago_pa }}" placeholder="Ingrese el periodo de pago" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="hora_salida_as" class="form-label"><b>Horas extra</b></label>
              <input type="number" name="horas_extra_pa" id="horas_extra_pa" value="{{ pago.horas_extra_pa }}" placeholder="Ingrese las oras estra" class="form-control" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/listadoPagos/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $("#frm_nuevo_pago").validate({
        rules:{
            "nombre_pu": {
                required:true
            },
            "responsabilidades_pu": {
                required:true
            },
            "salario_base_pu": {
                required:true
            },
            "id_departamento": {
                required:true
            }
        },
        messages:{
            "nombre_pu": {
                required:"DEBE INGRESAR EL NOMBRE DEL PUESTO"
            },
            "responsabilidades_pu": {
                required:"DEBE INGRESAR LA RESPONSABILIDA"
            },
            "salario_base_pu": {
                required:"DEBE INGRESAR EL SALARIO"
            },
            "id_departamento": {
                required:"SELECCIONE EL DEPARTAMENTO"
            }
        }
    });
</script>
{% endblock %}
