{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9BBEC8;">
          <h2 class="mb-0">Actualizar Puesto</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionPuesto/" method="post" id="frm_nuevo_puesto" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="id_pu" value="{{ puesto.id_pu }}">
            <b>DEPARTAMENTO:</b>
          <select class="form-control" name="id_departamento" id="id_departamento"  required>
              <option value="">-- Seleccione el departamento --</option>
              {% for departamento in departamentos %}
                  <option value="{{ departamento.id_de }}"{% if puesto.departamento and puesto.departamento.id_de == departamento.id_de %} selected {% endif %}>{{ departamento.nombre_de }}</option>
              {% endfor %}
          </select>




            <div class="mb-3">
              <label for="nombre_pu" class="form-label"><b>nombre</b></label>
              <input type="text" name="nombre_pu" id="nombre_pu" value="{{ puesto.nombre_pu }}" placeholder="Ingrese el puesto" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="responsabilidades_pu" class="form-label"><b>Responsabilidad</b></label>
              <input type="text" name="responsabilidades_pu" id="responsabilidades_pu" value="{{ puesto.responsabilidades_pu }}" placeholder="Ingrese la responsabilid" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="salario_base_pu" class="form-label"><b>Salario Base</b></label>
              <input type="text" name="salario_base_pu" id="salario_base_pu" value="{{ puesto.salario_base_pu }}" placeholder="Ingrese el salario base" class="form-control" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/listadoPuestos/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $("#frm_nuevo_puesto").validate({
        rules:{
            "nombre_pu": {
                required:true
            },
            "responsabilidades_pu": {
                required:true
            },
            "salario_base_pu": {
                required:true
            },
            "id_departamento": {
                required:true
            }
        },
        messages:{
            "nombre_pu": {
                required:"DEBE INGRESAR EL NOMBRE DEL PUESTO"
            },
            "responsabilidades_pu": {
                required:"DEBE INGRESAR LA RESPONSABILIDA"
            },
            "salario_base_pu": {
                required:"DEBE INGRESAR EL SALARIO"
            },
            "id_departamento": {
                required:"SELECCIONE EL DEPARTAMENTO"
            }
        }
    });
</script>
{% endblock %}
