{% extends "./plantilla.html" %}
{% load static %}

{% block contenido_ajax %}
  {% block contenido %}
    <!-- enviar_correo.html -->
    
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header" style="background-color: #9BBEC8;">
        <h2 class="text-center">Enviar Correo</h2>
      </div>
      <div class="card-header">
        <form method="post" action="{% url 'enviar_correo' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="destinatario">Destinatario:</label>
            <input class="form-control" type="email" name="destinatario" placeholder="Ingrese correo destinatario" required>
          </div>
          <div class="form-group">
            <label for="asunto">Asunto:</label>
            <input class="form-control" type="text" name="asunto" placeholder="Ingrese un asunto" required>
          </div>
          <div class="form-group">
            <label for="cuerpo">Mensaje:</label>
            <textarea class="form-control" name="cuerpo" placeholder="Ingrese un mensaje" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar Correo</button>
          </div>
        </form>
      </div>
    </body>
  <br>
  {% endblock %}
{% endblock %}
