{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
    <h1>PAGOS</h1>
          <br>
          <div class="row">
              <div class="col-md-3">
                <!-- Formulario para agregar nuevos puestos -->
                <form class="" action="{% url 'guardar_pago' %}" method="post" enctype="multipart/form-data" id="frm_nuevo_pago">
                    {% csrf_token %}
                    <b>Empleado:</b>
                  <select class="form-control" name="id_empleado" id="id_empleado"  required>
                      <option value="">-- Seleccione el empleado --</option>
                      {% for empleado in empleados %}
                          <option value="{{ empleado.id_em }}">{{ empleado.nombre_em }}</option>
                      {% endfor %}
                  </select>
                  <br>

                        <b>FECHA DE PAGO:</b>
                        <input type="date" name="fecha_pago_pa" value=""  id="fecha_pago_pa" placeholder="Ingrese la fecha" class="form-control" required >
                        <br>
                        <b>PERIODO PAGO:</b>
                        <input type="text" name="periodo_pago_pa" value=""  id="periodo_pago_pa" placeholder="Ingrese el periodo de pago" class="form-control" required>
                        <br>
                        <b>HORAS EXTRAS:</b>
                        <input type="number" name="horas_extra_pa" value=""  id="horas_extra_pa" placeholder="Ingrese las horas extra" class="form-control" required>
                        <br>
                    <div class="text-center">
                        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                        <a href="/listadoPagos/" class="btn btn-danger ml-2">Cancelar</a>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
                </div>
            <table class="table table-bordered table-striped" id="tbl_pagos">
                <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>EMPLEADO</th>
                            <th>FECHA PAGO</th>
                            <th>PERIODO PAGO</th>
                            <th>HORAS EXTRA</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pago in pagos %}
                            <tr>
                                <td>{{ pago.id_pa }}</td>
                                <td>{{ pago.empleado.nombre_em }}</td>
                                <td>{{ pago.fecha_pago_pa}}</td>
                                <td>{{ pago.periodo_pago_pa }}</td>
                                <td>{{ pago.horas_extra_pa}}</td>
                                <td>
                                    <a href="/editarPago/{{ pago.id_pa }}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="javascript:void(0)" onclick="eliminarPago('/eliminarPago/{{ pago.id_pa }}');" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript">
        function eliminarPago(url) {
            iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el pago seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>


        <script type="text/javascript">
            $("#frm_nuevo_pago").validate({
                rules:{
                  "fecha_pago_pa": {
                      required:true
                    },
                    "periodo_pago_pa": {
                        required:true
                    },
                    "horas_extra_pa": {
                        required:true
                    },
                    "id_empleado": {
                        required:true
                    }
                },
                messages:{
                    "id_empleado": {
                        required:"Debe elegir un empleado "
                    },
                    "fecha_pago_pa": {
                        required:"Debe ingresar la fecha de pago"
                        },
                    "periodo_pago_pa": {
                        required:"Debe ingresar el periodo"
                    },
                    "horas_extra_pa": {
                        required:"Debe ingresar las horas extras"

                    }
                }
            });
        </script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/pdfmake.min.js"></script>

        <script type="text/javascript">
        $('#tbl_pagos').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'REPORTE DE PAGOS.'
                },
                'print',
                'csv'
            ]
        });
    </script>

        <div class="d-flex justify-content-center">
            <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>
        </div>

        <div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
            <canvas id="myChart"></canvas>
        </div>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart');

            const tiposSet = new Set();
            const pagoTipo = {};
            {% for pago in pago %}
                tiposSet.add("{{ pago.fecha_pago_pa }}");
                if (!empleadosTipo["{{ pago.fecha_pago_pa }}"]) {
                    empleadosTipo["{{ pago.fecha_pago_pa }}"] = 1;
                } else {
                    empleadosTipo["{{ pago.fecha_pago_pa }}"] += 1;
                }
            {% endfor %}
            const tiposArray = Array.from(tiposSet);
            const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: pagosTipo[tipo] || 0 }));

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tiposArray,
                    datasets: [{
                        label: 'CANTIDAD DE PAGOS',
                        data: posiciones.map(posicion => posicion.y),
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            position: 'bottom',
                        },
                        y: {
                            beginAtZero: true,
                            stepSize: 1,
                        }
                    }
                }
            });

            window.toggleChart = function() {
                const chartContainer = document.getElementById('chartContainer');

                if (chartContainer.style.display === 'none') {
                    chartContainer.style.display = 'block';
                } else {
                    chartContainer.style.display = 'none';
                }
            };
        });
        </script>

        {% endblock %}
