{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}

<div class="row">
    <div class="col-md-5" style="">
        <form action="guardarDepartamento/" method="post" enctype="multipart/form-data" id="frm_nuevo_departamento">
            <center><h1 class="mt-3 mx-2 text-dark"><strong>DEPARTAMENTOS</strong></h1></center>
            {% csrf_token %}
            <br>
            <b>NOMBRE:</b>
            <input type="text" name="nombre_departamento" value="" id="nombre_departamento" placeholder="Ingrese el nombre" class="form-control" required>
            <br>
            <b>DESCRIPCIÓN:</b>
            <textarea name="descripcion_departamento" id="descripcion_departamento" placeholder="Ingrese la descripción" class="form-control" required></textarea>
            <br>
            <b>DIRECCIÓN:</b>
            <textarea name="direccion_departamento" id="direccion_departamento" placeholder="Ingrese la dirección" class="form-control" required></textarea>
            <br>
            <br>
            <b>LOGO:</b>
            <input type="file" name="logo_departamento" accept="image/*" id="logo_departamento" required>
            <br>
            <script>
              $(document).ready(function () {
                  $("#logo_departamento").fileinput({
                    //showUpload:false
                    //showRemove: false,
                    language:'es',
                  });
              });
            </script>


            <br>
            <br>
            <center>
                <button type="submit" name="button" class="btn btn-dark">Guardar</button>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <a href="/" class="btn btn-danger ml-2">Cancelar</a>
            </center>
        </form>
    </div>
    <div class="col-md-7">
        <div class="d-flex justify-content-center align-items-center">
        </div>
        <br>
        <table class=table table-bordered table-striped" id="tbl_departamentos">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>DIRECCIÓN</th>
                    <th>LOGO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for departamento in departamentos %}
                    <tr>
                        <td>{{ departamento.id_de }}</td>
                        <td>{{ departamento.nombre_de }}</td>
                        <td>{{ departamento.descripcion_de }}</td>
                        <td>{{ departamento.direccion_de }}</td>
                        <td>
    {% if departamento.logo_de %}
        <a href="{{ departamento.logo_de.url }}" >
            <img src="{{ departamento.logo_de.url }}" alt="" style="height: 60px; width: 70px;">
        </a>
    {% else %}
        <b>N/A</b>
    {% endif %}
</td>

                        <td>
                            <a href="/editarDepartamento/{{ departamento.id_de }}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="javascript:void(0)" onclick="eliminarDepartamento('/eliminarDepartamento/{{ departamento.id_de }}');" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</div>

<script type="text/javascript">
    function eliminarDepartamento(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el departamento seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>

<script type="text/javascript">
    $("#frm_nuevo_departamento").validate({
        rules:{
            "nombre_departamento": {
                required:true
            },
            "descripcion_departamento": {
                required:true
            },
            "direccion_departamento": {
                required:true
            },
            "logo_departamento": {
                required:true
            }
        },
        messages:{
            "nombre_departamento": {
                required:"Debe ingresar el nombre del departamento"
            },
            "descripcion_departamento": {
                required:"Debe ingresar la decripcion del departamento"
            },
            "direccion_departamento": {
                required:"Debe ingresar la direccion del departamento"
            },
            "logo_departamento": {
                required:"Seleccione el logo del departamento"
            }
        }
    });
</script>

<script type="text/javascript">
    $('#tbl_departamentos').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE DEPARTAMENTOS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
        ]
    });
</script>

<div class="d-flex justify-content-center">
    <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>
</div>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
    <canvas id="myChart"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart');

    const tiposSet = new Set();
    const departamentosTipo = {};
    {% for departamento in departamentos %}
        tiposSet.add("{{ departamento.descripcion_de }}");
        if (!departamentosTipo["{{ departamento.descripcion_de }}"]) {
            departamentosTipo["{{ departamento.descripcion_de }}"] = 1;
        } else {
            departamentosTipo["{{ departamento.descripcion_de }}"] += 1;
        }
    {% endfor %}
    const tiposArray = Array.from(tiposSet);
    const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: departamentosTipo[tipo] || 0 }));

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: tiposArray,
            datasets: [{
                label: 'CANTIDAD DE DEPARTAMENTOS',
                data: posiciones.map(posicion => posicion.y),
                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'category',
                    position: 'bottom',
                },
                y: {
                    beginAtZero: true,
                    stepSize: 1,
                }
            }
        }
    });

    window.toggleChart = function() {
        const chartContainer = document.getElementById('chartContainer');

        if (chartContainer.style.display === 'none') {
            chartContainer.style.display = 'block';
        } else {
            chartContainer.style.display = 'none';
        }
    };
});
</script>

{% endblock %}
