{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
    <h1>EMPLEADOS</h1>
          <br>
          <div class="row">
              <div class="col-md-3">
                <!-- Formulario para agregar nuevos puestos -->
                <form class="" action="{% url 'guardar_empleado' %}" method="post" enctype="multipart/form-data" id="frm_nuevo_empleado">
                    {% csrf_token %}
                    <b>Puesto:</b>
                  <select class="form-control" name="empleado" id="empleado"  required>
                      <option value="">-- Seleccione el puesto --</option>
                      {% for puesto in puestos %}
                          <option value="{{ puesto.id_pu }}">{{ puesto.nombre_pu }}</option>
                      {% endfor %}
                  </select>
                  <br>
                        <b>CEDULA:</b>
                        <input type="number" name="cedula_em" value=""  id="cedula_em" placeholder="Ingrese la cedula" class="form-control" required>
                        <br>
                        <b>APELLIDO:</b>
                        <input type="text" name="apellido_em" value=""  id="apellido_em" placeholder="Ingrese el apellido" class="form-control" required>
                        <br>
                        <b>NOMBRE:</b>
                        <input type="text" name="nombre_em" value=""  id="nombre_em" placeholder="Ingrese el nombre" class="form-control" required>
                        <br>
                        <b>FECHA CONTRATO:</b>
                        <input type="date" name="fecha_contratacion_em" value=""  id="fecha_contratacion_em" placeholder="Ingrese la fecha" class="form-control" required>
                        <br>
                        <b>TELEFONO:</b>
                        <input type="number" name="telefono_em" value=""  id="telefono_em" placeholder="Ingrese el telefono" class="form-control" required>
                        <br>
                        <b>CORREO:</b>
                        <input type="email" name="correo_electronico_em" value=""  id="correo_electronico_em" placeholder="Ingrese el correo" class="form-control" required>
                        <br>
                        <b>GENERO:</b>

                        <input type="text" name="genero_em" value=""  id="genero_em" placeholder="Ingrese el genrro" class="form-control" required>

                         <br>

                        <b>FOTO:</b>
                        <input type="file" name="foto_em" value=""  id="foto_em" placeholder="seleccione una foto class="form-control" required>
                        <script>
                                $(document).ready(function () {
                                    $("#foto_em").fileinput({
                                      //showUpload:false
                                      //showRemove: false,
                                      language:'es',
                                    });
                                });
                              </script>
                        <br>
                    <div class="text-center">
                        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                        <a href="/listadoEmpleados/" class="btn btn-danger ml-2">Cancelar</a>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
                </div>
            <table class="table table-bordered table-striped" id="tbl_empleados">
                <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>PUESTO</th>
                            <th>cedula</th>
                            <th>APELLIDO</th>
                            <th>NOMBRE</th>
                            <th>FECHA CONTRATO</th>
                            <th>TELEFONO</th>
                            <th>CORREO</th>
                            <th>GENERO</th>
                            <th>FOTO</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empleado in empleados %}
                            <tr>
                                <td>{{ empleado.id_em }}</td>
                                <td>{{ empleado.puesto.nombre_pu }}</td>
                                <td>{{ empleado.cedula_em }}</td>
                                <td>{{ empleado.apellido_em }}</td>
                                <td>{{ empleado.nombre_em}}</td>
                                <td>{{ empleado.fecha_contratacion_em}}</td>
                                <td>{{ empleado.telefono_em}}</td>
                                <td>{{ empleado.correo_electronico_em}}</td>
                                <td>{{ empleado.genero_em}}</td>
                                <td>
                                    {% if empleado.foto_em %}
                                        <a href="{{ empleado.foto_em.url }}" target="_blank">
                                            <img src="{{ empleado.foto_em.url }}" alt="" height="50px">
                                        </a>
                                    {% else %}
                                        <b>N/A</b>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/editarEmpleado/{{ empleado.id_em }}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="javascript:void(0)" onclick="eliminarEmpleado('/eliminarEmpleado/{{ empleado.id_em }}');" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript">
        function eliminarEmpleado(url) {
            iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el empleado seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>


<script type="text/javascript">
        $("#frm_nuevo_empleado").validate({
            rules: {
                id_puesto: {
                    required: true
                },
                cedula_em: {
                    required: true,
                    digits: true
                },
                apellido_em: {
                    required: true
                },
                nombre_em: {
                    required: true
                },
                fecha_contratacion_em: {
                    required: true,
                    date: true
                },
                telefono_em: {
                    required: true,
                    digits: true
                },
                correo_electronico_em: {
                    required: true,
                    email: true
                },
                genero_em: {
                    required: true
                },
                foto_em: {
                    required: true,
                    extension: "jpg|jpeg|png|gif"
                    // Ajusta las extensiones según los tipos de archivo permitidos
                }
            },
            messages: {
                id_puesto: {
                    required: "Por favor, seleccione el puesto."
                },
                cedula_em: {
                    required: "Por favor, ingrese la cédula.",
                    digits: "Ingrese solo dígitos."
                },
                apellido_em: {
                    required: "Por favor, ingrese el apellido."
                },
                nombre_em: {
                    required: "Por favor, ingrese el nombre."
                },
                fecha_contratacion_em: {
                    required: "Por favor, ingrese la fecha de contratación.",
                    date: "Ingrese una fecha válida."
                },
                telefono_em: {
                    required: "Por favor, ingrese el teléfono.",
                    digits: "Ingrese solo dígitos."
                },
                correo_electronico_em: {
                    required: "Por favor, ingrese el correo electrónico.",
                    email: "Ingrese un correo electrónico válido."
                },
                genero_em: {
                    required: "Por favor, ingrese el género."
                },
                foto_em: {
                    required: "Por favor, seleccione una foto.",
                    extension: "Formato de archivo no válido. Use archivos JPG, JPEG, PNG o GIF."
                    // Ajusta el mensaje según las extensiones permitidas
                }
            }
        });
</script>

        <script type="text/javascript">
            $('#tbl_empleados').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        messageTop: 'REPORTE DE EMPLEADOS.'
                    },
                    'print',
                    'csv'
                ]
            });
        </script>
        <div class="d-flex justify-content-center">
            <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>
        </div>

        <div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
            <canvas id="myChart"></canvas>
        </div>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart');

            const tiposSet = new Set();
            const puestoTipo = {};
            {% for puesto in puesto %}
                tiposSet.add("{{ puesto.nombre_pu }}");
                if (!departamentosTipo["{{ puesto.nombre_pu }}"]) {
                    departamentosTipo["{{ puesto.nombre_pu }}"] = 1;
                } else {
                    departamentosTipo["{{ puesto.nombre_pu }}"] += 1;
                }
            {% endfor %}
            const tiposArray = Array.from(tiposSet);
            const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: puestosTipo[tipo] || 0 }));

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tiposArray,
                    datasets: [{
                        label: 'CANTIDAD DE PUESTOS',
                        data: posiciones.map(posicion => posicion.y),
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            position: 'bottom',
                        },
                        y: {
                            beginAtZero: true,
                            stepSize: 1,
                        }
                    }
                }
            });

            window.toggleChart = function() {
                const chartContainer = document.getElementById('chartContainer');

                if (chartContainer.style.display === 'none') {
                    chartContainer.style.display = 'block';
                } else {
                    chartContainer.style.display = 'none';
                }
            };
        });
        </script>

        {% endblock %}
