{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<br>
<ul>
    <div class="row">
        <div class="col-md-4" style="">
            <form action="/guardarAsistencia/" method="post" enctype="multipart/form-data" id="frm_nueva_asistencia">
                <center><h1 class="mt-3 mx-2 text-dark"><strong>ASISTENCIA</strong></h1></center>
                {% csrf_token %}

                <b>EMPLEADO:</b>
                <select class="form-control" name="id_empleado" id="id_empleado"  required>
                    <option value="">Seleccionar empleado</option>
                    {% for empleado in empleados %}
                    <option value="{{ empleado.id_em }}">{{ empleado.nombre_em }}</option>
                    {% endfor %}


                  </select>
                  <br>


                <b>FECHA:</b>
                <input type="date" name="fecha_as" id="fecha_as" class="form-control" required>
                <br>

                <b>HORA DE ENTRADA:</b>
                <input type="time" name="hora_entrada_as" id="hora_entrada_as" class="form-control" required>
                <br>

                <b>HORA DE SALIDA:</b>
                <input type="time" name="hora_salida_as" id="hora_salida_as" class="form-control" required>
                <br>
                <b>HOJA DE ASISTENCIA:</b>
                <input type="file" name="hoja_as" id="hoja_as" accept="application/pdf" required>
                <br>
                <script>
                  $(document).ready(function () {
                      $("#hoja_as").fileinput({
                        //showUpload:false
                        //showRemove: false,
                        language:'es',
                      });
                  });
                </script>



                <b>ESTADO:</b>
                <select name="estado_as" id="estado_as" class="form-control" required>
                    <option value="">Seleccionar estado</option>
                    <option value="Presente">Presente</option>
                    <option value="Ausente">Ausente</option>
                    <option value="Tardanza">Tardanza</option>
                </select>
                <br>

                <center>
                    <br>
                    <button type="submit" name="button" class="btn btn-dark">Guardar</button>
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <a href="/listadoAsistencias/" class="btn btn-danger ml-2">Cancelar</a>
                </center>
            </form>
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-center align-items-center">
                <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
            </div>
            <br>
            <table class="table table-bordered table-striped" id="tbl_asistencias">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>EMPLEADO</th>
                        <th>FECHA</th>
                        <th>HORA DE ENTRADA</th>
                        <th>HORA DE SALIDA</th>
                        <th>HOJA DE ASISTENCIA</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asistencia in asistencias %}
                    <tr>
                        <td>{{ asistencia.id_as }}</td>
                        <td>{{ asistencia.empleado.nombre_em }}</td>
                        <td>{{ asistencia.fecha_as }}</td>
                        <td>{{ asistencia.hora_entrada_as }}</td>
                        <td>{{ asistencia.hora_salida_as }}</td>

                        <td>
                          {% if asistencia.hoja_as %}
                              <a href="{{ asistencia.hoja_as.url }}" target="_blank" >
                                  <img src="{% static '/img/pdf.png' %}" alt="PDF" style="height: 60px; width: 70px;">
                              </a>
                          {% else %}
                              <b>N/A</b>
                          {% endif %}

                        </td>
                        <td>{{ asistencia.estado_as}}</td>
                        <td>
                            <a href="/editarAsistencia/{{ asistencia.id_as }}" class="btn btn-warning">Editar</a>
                            <a href="javascript:void(0)" onclick="eliminarAsistencia('/eliminarAsistencia/{{ asistencia.id_as }}');" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>
        </div>
    </div>
</ul>

<script type="text/javascript">
    function eliminarAsistencia(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar la asistencia seleccionada?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#frm_nueva_asistencia").validate({
            rules:{
                "id_empleado": {
                    required: true
                },
                "fecha_as": {
                    required: true
                },
                "hora_entrada_as": {
                    required: true
                },
                "hora_salida_as": {
                    required: true
                },
                "estado_as": {
                    required: true
                }
            },
            messages:{
                "id_empleado": {
                    required: "Por favor seleccione un empleado"
                },
                "fecha_as": {
                    required: "Por favor ingrese la fecha de asistencia"
                },
                "hora_entrada_as": {
                    required: "Por favor ingrese la hora de entrada"
                },
                "hora_salida_as": {
                    required: "Por favor ingrese la hora de salida"
                },
                "estado_as": {
                    required: "Por favor seleccione un estado"
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $('#tbl_asistencias').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE ASISTENCIAS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
        ]
    });
</script>
<button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
  <canvas id="myChart"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const ctx = document.getElementById('myChart');

  const estadosSet = new Set();

  const asistenciasEstado = {};
  {% for asistencia in asistencias %}
  estadosSet.add("{{ asistencia.estado_as }}");
  if (!asistenciasEstado["{{ asistencia.estado_as }}"]) {
    asistenciasEstado["{{ asistencia.estado_as }}"] = 1;
  } else {
    asistenciasEstado["{{ asistencia.estado_as }}"] += 1;
  }
  {% endfor %}

  const estadosArray = Array.from(estadosSet);
  const posiciones = estadosArray.map((estado, index) => ({ x: index, y: asistenciasEstado[estado] || 0 }));

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: estadosArray,
      datasets: [{
        label: 'Cantidad de asistencias',
        data: posiciones.map(posicion => posicion.y),
        backgroundColor: 'rgba(75, 192, 192, 0.5)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1,
      }]
    },
    options: {
      scales: {
        x: {
          type: 'category',
          position: 'bottom',
        },
        y: {
          beginAtZero: true,
          stepSize: 1,
        }
      }
    }
  });

  window.toggleChart = function() {
    const chartContainer = document.getElementById('chartContainer');

    if (chartContainer.style.display === 'none') {
      chartContainer.style.display = 'block';
    } else {
      chartContainer.style.display = 'none';
    }
  };
});
</script>

{% endblock %}
