{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
<ul>
    <div class="row">
        <div class="col-md-4" style="">
            <form action="/guardarVacaciones/" method="post" enctype="multipart/form-data" id="frm_nueva_vacacion">
                <center><h1 class="mt-3 mx-2 text-dark"><strong>VACACIONES</strong></h1></center>
                {% csrf_token %}

                <b>EMPLEADO:</b>
                <select name="empleado" id="empleado" class="selectpicker" required>
                    <option value="">Seleccionar empleado</option>
                    {% for empleado in empleados %}
                    <option value="{{ empleado.id_em }}">{{ empleado.nombre_em }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <b>FECHA DE INICIO:</b>
                <input type="date" name="fecha_inicio_va" id="fecha_inicio_va" class="form-control" required>
                <br>

                <b>FECHA DE FIN:</b>
                <input type="date" name="fecha_fin_va" id="fecha_fin_va" class="form-control" required>
                <br>

                <b>ESTADO DE SOLICITUD:</b>
                <select name="estado_solicitud_va" id="estado_solicitud_va" class="form-control" required>
                    <option value="">Seleccionar estado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Aprobada">Aprobada</option>
                    <option value="Rechazada">Rechazada</option>
                </select>
                <br>

                <b>MOTIVO DE RECHAZO:</b>
                <textarea name="motivo_rechazo_va" id="motivo_rechazo_va" class="form-control"></textarea>
                <br>
                <br>

                <center>
                    <br>
                    <button type="submit" name="button" class="btn btn-dark">Guardar</button>
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <a href="/listadoVacaciones/" class="btn btn-danger ml-2">Cancelar</a>
                </center>
            </form>
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-center align-items-center">
                <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
            </div>
            <br>
            <table class="table table-bordered table-striped" id="tbl_vacaciones">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>EMPLEADO</th>
                        <th>FECHA DE INICIO</th>
                        <th>FECHA DE FIN</th>
                        <th>ESTADO DE SOLICITUD</th>
                        <th>MOTIVO DE RECHAZO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vacacion in vacaciones %}
                    <tr>
                        <td>{{ vacacion.id_va }}</td>
                        <td>{{ vacacion.empleado.nombre_em }}</td>
                        <td>{{ vacacion.fecha_inicio_va }}</td>
                        <td>{{ vacacion.fecha_fin_va }}</td>
                        <td>{{ vacacion.estado_solicitud_va }}</td>
                        <td>{{ vacacion.motivo_rechazo_va }}</td>
                        <td>
                            <a href="/editarVacaciones/{{ vacacion.id_va }}" class="btn btn-warning">Editar</a>
                            <a href="javascript:void(0)" onclick="eliminarVacacion('/eliminarVacaciones/{{ vacacion.id_va }}');" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>
        </div>
    </div>
</ul>

<script type="text/javascript">
    function eliminarVacacion(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar la vacación seleccionada?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#frm_nueva_vacacion").validate({
            rules:{
                "empleado": {
                    required: true
                },
                "fecha_inicio_va": {
                    required: true
                },
                "fecha_fin_va": {
                    required: true
                },
                "estado_solicitud_va": {
                    required: true
                }
            },
            messages:{
                "empleado": {
                    required: "Por favor seleccione un empleado"
                },
                "fecha_inicio_va": {
                    required: "Por favor ingrese la fecha de inicio de las vacaciones"
                },
                "fecha_fin_va": {
                    required: "Por favor ingrese la fecha de fin de las vacaciones"
                },
                "estado_solicitud_va": {
                    required: "Por favor seleccione un estado de solicitud"
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $('#tbl_vacaciones').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE VACACIONES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
        ]
    });
</script>

<button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
  <canvas id="myChart"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const ctx = document.getElementById('myChart');

  const estadosSet = new Set();

  const vacacionesEstado = {};
  {% for vacacion in vacaciones %}
  estadosSet.add("{{ vacacion.estado_solicitud_va }}");
  if (!vacacionesEstado["{{ vacacion.estado_solicitud_va }}"]) {
    vacacionesEstado["{{ vacacion.estado_solicitud_va }}"] = 1;
  } else {
    vacacionesEstado["{{ vacacion.estado_solicitud_va }}"] += 1;
  }
  {% endfor %}

  const estadosArray = Array.from(estadosSet);
  const posiciones = estadosArray.map((estado, index) => ({ x: index, y: vacacionesEstado[estado] || 0 }));

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: estadosArray,
      datasets: [{
        label: 'Cantidad de vacaciones',
        data: posiciones.map(posicion => posicion.y),
        backgroundColor: 'rgba(75, 192, 192, 0.5)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1,
      }]
    },
    options: {
      scales: {
        x: {
          type: 'category',
          position: 'bottom',
        },
        y: {
          beginAtZero: true,
          stepSize: 1,
        }
      }
    }
  });

  window.toggleChart = function() {
    const chartContainer = document.getElementById('chartContainer');

    if (chartContainer.style.display === 'none') {
      chartContainer.style.display = 'block';
    } else {
      chartContainer.style.display = 'none';
    }
  };
});
</script>

{% endblock %}
