{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
    <h1>PUESTOS</h1>
          <br>
          <div class="row">
              <div class="col-md-3">
                <!-- Formulario para agregar nuevos puestos -->
                <form class="" action="{% url 'guardar_puesto' %}" method="post" enctype="multipart/form-data" id="frm_nuevo_puesto">
                    {% csrf_token %}
                    <b>DEPARTAMENTO:</b>
                  <select class="form-control" name="id_departamento" id="id_departamento"  required>
                      <option value="">-- Seleccione el departamento --</option>
                      {% for departamento in departamentos %}
                          <option value="{{ departamento.id_de }}">{{ departamento.nombre_de }}</option>
                      {% endfor %}
                  </select>
                  <br>

                        <b>NOMBRE:</b>
                        <input type="text" name="nombre_pu" value=""  id="nombre_pu" placeholder="Ingrese el nombre" class="form-control" required>
                        <br>
                        <b>RESPONSABILIDAD:</b>
                        <input type="text" name="responsabilidades_pu" value=""  id="responsabilidades_pu" placeholder="Ingrese la responsabilidad" class="form-control" required>
                        <br>
                        <b>SALARIO BASICO:</b>
                        <input type="text" name="salario_base_pu" value=""  id="salario_base_pu" placeholder="Ingrese el salario base" class="form-control" required>
                        <br>
                    <div class="text-center">
                        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                        <a href="/listadoPuestos/" class="btn btn-danger ml-2">Cancelar</a>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
                </div>
            <table class="table table-bordered table-striped" id="tbl_puestos">
                <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Departamento</th>
                            <th>Nombre</th>
                            <th>Responsabilidad</th>
                            <th>Salario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for puesto in puestos %}
                            <tr>
                                <td>{{ puesto.id_pu }}</td>
                                <td>{{ puesto.departamento.nombre_de }}</td>
                                <td>{{ puesto.nombre_pu }}</td>
                                <td>{{ puesto.responsabilidades_pu }}</td>
                                <td>{{ puesto.salario_base_pu}}</td>
                                <td>
                                    <a href="/editarPuesto/{{ puesto.id_pu }}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="javascript:void(0)" onclick="eliminarPuesto('/eliminarPuesto/{{ puesto.id_pu }}');" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript">
        function eliminarPuesto(url) {
            iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el puesto seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>


        <script type="text/javascript">
            $("#frm_nuevo_puesto").validate({
                rules:{
                    "nombre_pu": {
                        required:true
                    },
                    "responsabilidades_pu": {
                        required:true
                    },
                    "salario_base_pu": {
                        required:true
                    },
                    "id_departamento": {
                        required:true
                    }
                },
                messages:{
                    "nombre_pu": {
                        required:"Debe ingresar el nombre del puesto"
                    },
                    "responsabilidades_pu": {
                        required:"Debe ingresar la responsabilidad"
                    },
                    "salario_base_pu": {
                        required:"Ddebe ingresar el salario"
                    },
                    "id_departamento": {
                        required:"Selecciones el departamento"
                    }
                }
            });
        </script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/pdfmake.min.js"></script>

        <script type="text/javascript">
        $('#tbl_puestos').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'REPORTE DE EMPLEADOS.'
                },
                'print',
                'csv'
            ]
        });
    </script>

        <div class="d-flex justify-content-center">
            <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>
        </div>

        <div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
            <canvas id="myChart"></canvas>
        </div>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart');

            const tiposSet = new Set();
            const puestoTipo = {};
            {% for puesto in puesto %}
                tiposSet.add("{{ puesto.nombre_pu }}");
                if (!departamentosTipo["{{ puesto.nombre_pu }}"]) {
                    departamentosTipo["{{ puesto.nombre_pu }}"] = 1;
                } else {
                    departamentosTipo["{{ puesto.nombre_pu }}"] += 1;
                }
            {% endfor %}
            const tiposArray = Array.from(tiposSet);
            const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: puestosTipo[tipo] || 0 }));

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tiposArray,
                    datasets: [{
                        label: 'CANTIDAD DE PUESTOS',
                        data: posiciones.map(posicion => posicion.y),
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            position: 'bottom',
                        },
                        y: {
                            beginAtZero: true,
                            stepSize: 1,
                        }
                    }
                }
            });

            window.toggleChart = function() {
                const chartContainer = document.getElementById('chartContainer');

                if (chartContainer.style.display === 'none') {
                    chartContainer.style.display = 'block';
                } else {
                    chartContainer.style.display = 'none';
                }
            };
        });
        </script>

        {% endblock %}
