{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>Universidad</title>
  <!-- Importacion de jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'css/principal.css' %}">
  <!-- Importacion de jquery-validate -->
  <script type="text/javascript"
  src="{% static 'librerias/jquery-validate/jquery.validate.js' %}">
  </script>
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Light Bootstrap Dashboard CSS -->
    <link href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>
  <!-- Importacion de DataTables -->
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js">
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js">
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js">
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js">
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js">
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js">
  </script>
  <!-- Bootstrap Fileinput CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css">

  <!-- Bootstrap Fileinput JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>
  <!-- español fileinput -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/es.min.js"></script>
  <title></title>

  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <script src="{% static 'path/to/bs-custom-file-input.min.js' %}"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Bootstrap-select CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" style="background-color: white;);
    font-size: 25px; /* Puedes ajustar este valor según lo grande que desees el texto */
    ">

            <div class="sidebar-wrapper bg-blue"style="background-color: #6DA4AA;">
              <br>
              <div class="navbar-header">
                <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
                      <img class="imagen img-fluid" src="{% static 'img/1ogo.png' %}" alt="TeamSpot Logo" width="300" height="50" style="margin-right: 10px;">

                  </a>
              </div>

            <br>
            <ul class="nav">
							<li class="nav-item">
            <a class="nav-link" href="/">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">DEPARTAMENTO</span>
              <div class="badge badge-danger"></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listadoPuestos/">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">PUESTOS </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listadoEmpleados/">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">EMPLEADOS </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listadoAsistencias/">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">ASISTENCIA </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listadoVacaciones/">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">VACACIONES </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listadoPagos/">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">PAGO </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/enviar_correo/">
                <i class="typcn typcn-mail menu-icon"></i>
                <span class="menu-title">ENVIAR CORREO</span>
            </a>
          </li>

            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed" style="background-color: #6DA4AA;">
            <div class="container-fluid">
                <div class="navbar-header">
                      <img class="imagen img-fluid" src="{% static 'img/Portada.png' %}" alt="TeamSpot Logo" width="300" height="50" style="margin-right: 10px;">
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block contenido %}
                    {% endblock %}
                    {% if messages %}
                        {% for mensaje in messages %}
                            <script type="text/javascript">
                                iziToast.success({
                                    title: 'mensaje de verificación',
                                    message: '{{mensaje}}',
                                    position: 'topRight',
                                });
                            </script>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                </nav>
                <p class="copyright pull-right">
                    &copy; <a href="#">2024 TeamSpot</a>, todos los derechos reservados
                </p>
            </div>
        </footer>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<!-- Chartist JS -->
<script src="{% static 'js/chartist.min.js' %}"></script>

<!-- Bootstrap Notify JS -->
<script src="{% static 'js/bootstrap-notify.js' %}"></script>
